* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background: wheat;
  height: 100vh;
}

.faq_card {
  width: 500px;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    h4 {
      font-size: 30px;
    }
  }
}

.faq_accordion {
  margin-top: 20px;
}

.faq_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(292, 42%, 14%);
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s all linear;
  margin-top: 20px;
  background-color: wheat;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    color: hsl(228, 45%, 44%);
  }
}

.faq_answer {
  margin: 20px 0;
  color: hsl(292, 16%, 49%);
  transition: 0.5s all linear;
  display: none;
}

.faq_toggle {
  display: block;
}

@media all and (max-width: 600px) {
  .faq_card {
    width: 350px;
  }
}
